body {
    padding: 20px;
    margin-top: 50px;		
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

@media (max-width: 920px) {
  .flex-container {flex-direction: column}
}

.flex-container{
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    display: -webkit-flex; /* Safari */     
     display: flex; /* Standard syntax */
}

.flex-container, .column {
    padding: 10px;
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* Standard syntax */
}

body, .flex-container .column, .flex-container .column.bg-alt {
    background: #CEE5FC;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%23ffffff' fill-opacity='0.08'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
img {
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}

img.resize {
    width:540px; /* you can use % */
    height: auto;
}

.shadow {
    -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.3));
}

a { 
    text-decoration: none;
    color: #336597;	
}

a:hover { text-decoration: underline; }

p {
    font-size: 1em;
    line-height: 1.5em;
    margin: 1.25em 0;
    text-align: justify;
}

.btitle {
    font-size: 30px;
    font-family: 'Bitstream Vera Sans';
    font-weight: bold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 12px;
    background-color: #69C;
    color: white;
    text-align: center;
}

